#grid {
  display: grid;
  grid-template-columns: 242.5px 242.5px ; /* Adjust column count and widths as needed */
  grid-template-rows: 124px 124px 124px 124px 124px; /* Set row heights as needed */
  grid-gap: 10px;
  grid-template-areas:
    "header header header header"
    "sidebar content1 content2 content3"
    "sidebar content4 content5 content6"
    "sidebar content7 content8 content9"
    "sidebar content10 content11 content12"; /* Adjust grid areas based on your layout */
}

.header {
  grid-area: header;
	grid-column: span 4 / auto;
}

.sidebar {
  grid-area: sidebar;
	grid-row: span 4 / auto;
}

.content1 {
  grid-area: content1;
}

.content2 {
  grid-area: content2;
	grid-column: span 2 / auto;
}

.content3 {
  grid-area: content3;
	grid-column: span 2 / auto;
}

.content4 {
  grid-area: content4;
}

.content5 {
  grid-area: content5;
}

.content6 {
  grid-area: content6;
}

.content7 {
  grid-area: content7;
}

.content8 {
  grid-area: content8;
	grid-column: span 3 / auto;
}